//## Colors

//### Primary

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

//### Neutral

$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$darklight: hsl(0, 0%, 82%);


//font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; //18px
$font-normal: 1rem; //16px
$font-lg:1.25rem;
$font-xlg:3.25rem;